/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.eot');
    src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff'),
         url('../fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'brandon-grotesqueregular';
    src: url('../Brandon-Free/Brandon_light.otf');
}

@font-face{
    font-family: 'grb';
    src: url('../gotham-rounded-book.otf');
}


@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff'),
         url('../fonts/brandon_med-webfont.ttf') format('truetype'),
         url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    line-height: 1.25em;
    font-family: grb;
    
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

h1{
	font-size: 12vmin;
    font-family: brandon_grotesquebold;
}

.docket-title{
    letter-spacing: 5px;
}

h2{
    font-family: brandon_grotesquemedium;
    font-size: 5vmin;
}

h3{
    font-size:4vmin;
    font-family: brandon-grotesqueregular;
    line-height: 10px;
}

p{
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.45em;
}

a{
	color: black;
    text-decoration: none;
	font-size: 1em;
}
a:hover{
	color: #ffb818;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}


.placeholder-square{
    border: 5px solid black;
    border-radius: 5px;

    position: relative;
    width: 75%;
    padding-bottom: 50%;
    overflow: hidden;
}

img {

    width: 100%;

}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
/*    border-bottom: 2px solid black;
*/    z-index: 100;

}
body{
    background-color: #E3F8FF;
}

.fa{
    letter-spacing: 30px;
}
.fa:hover{
    color: #ffb818;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.title{
    width:100%;
}

.pool-image{
    background-image: url(../img/pool.png);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:500px;
    width:600px;
    margin-left:-100px;
}

.balloon-image{
    z-index:-1;
    background-image: url(../img/balloons.png);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:750px;
    width:550px;
}

.party{
    background-color: #C1717F;

    z-index:-1;
    background-image: url(../img/partybg.png);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color:white;
}

.party-image{
    background-image: url(../img/party.png);
    display: block;
    margin:0 auto;
    margin-top:5%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width:700px;
}

.clouds{
    z-index:-1;
    background-image: url(../img/clouds.png);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.clouds h2{
    color:#51110B;
}
.clouds p{
    color:#D15B0B;
}

.pool{
    background-color: white;
    z-index:-1;
    background-image: url(../img/bottle-bg.png);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hook{
    background-color: white;

}

.email{
    background-color: #343645;
    color:white;
}
form{
    /*width: 300px;
    margin: 0 auto;
    color:black;*/

    
}
/*http://osvaldas.info/examples/minimalist-newsletter-subscription-form/
*/
.newsletter
{   

    width: 100%;
    max-width: 20.25rem; /* 420 */
    height: 3.75rem; /* 60 */
    font-size: 1.25rem; /* 20 */
    position: absolute;
/*    top: 50%;
*/    left: 50%;
    margin: -1.875rem 0 0 -10rem; /* 30 210 */
}
.newsletter input
{
/*    border-radius: 0px;
*/    
    
    -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease;
}
.emailform{


    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    color: #ffb818;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    border-color: transparent;
    padding: 0 5rem 0 1.25rem; /* 80 20 */
}
.emailform::-webkit-input-placeholder    { color: #999 !important; }
.emailform:-moz-placeholder              { color: #999 !important; }
.emailform::-moz-placeholder             { color: #999 !important; }
.emailform:-ms-input-placeholder         { color: #999 !important; }

.emailform:hover
{
    border-color: #ffb818;
}
.emailform:focus
{

    color: #ffb818;
    background-color: white;
    border-color: #494736;
}
input.submitbutton{
    /*height: 100%;*/
/*    border-radius: 0px;
*/    
    font-weight: 700;
    color: white;
    background-color: #ffb818;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.25rem; /* 20 */

    -webkit-animation: appear-from-inside .25s ease, fade-in .25s linear;
    animation: appear-from-inside .25s ease, fade-in .25s linear;

    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}
input.submitbutton:hover,
input.submitbutton:focus
{
    color: #fff;
}
.newsletter--active .submitbutton
{
    display: block;
}
.newsletter:not( .newsletter--active ) input[type='submit']
{
    display: none;
}

@-webkit-keyframes appear-from-inside
{
    from    { -webkit-transform: scale( 0 ); }
    75%     { -webkit-transform: scale( 1.1 ); }
    to      { -webkit-transform: scale( 1 ); }
}
@keyframes appear-from-inside
{
    from    { transform: scale( 0 ); }
    75%     { transform: scale( 1.1 ); }
    to      { transform: scale( 1 ); }
}

@media screen and ( max-width: 30em ) /* 480 */
{
    .newsletter
    {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
    }
}


.follow{
    height:688px;
    background-image:url('http://i.imgur.com/WlZZ3gJ.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*abt*/
.about{
    background-color: white;
    color:black;
}
.about p{
    font-family: brandon-grotesqueregular;
    font-size: 1.25em;
}

figure .img {
    width: 100%;

}

figure {
    text-align: center;
    display: table;
    max-width: 100%; /* demo; set some amount (px or %) if you can */
    margin: 0px auto; /* not needed unless you want centered */
}

.circle {
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
    /* border:1px solid #aaaaaa; */
    /* border: 1px solid #aaaaaa; */

   }
figure .img:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background:#f287bd;
    opacity: 1;

    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    /* border:1px solid #aaaaaa; */
    


}

#wrapper .text {
    position:relative;
    bottom:100px;
    left:30px;
    visibility:hidden;
    text-align: left;
}

#wrapper:hover .img{
    opacity: 0.2;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}

#wrapper:hover .text {
    visibility:visible;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    opacity: 1;


}



/*Footer*/
.footer{
    font-size: .8em;

}
tr{
    height:30px;
}
td{
    padding-right:120px;
}
.table-title{
    font-size: 1.5em;
    padding-bottom:20px;
    color:#ffb819;

}

/*Buttons by http://bootsnipp.com/snippets/featured/outline-square-buttons*/
.fatext{
    vertical-align: middle;
    display: inline-block;
    width:100%;
    text-align:center;
    margin-left: 15px;
}
.btn-outlined {
    font-size: 1.45em;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #ffb818;
    color: #ffb818;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #ffb818;
    border-color: #ffb818:
}

/*animations*/
.fadeIn {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
}
.fadeInLeft {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
}
.slideInUp {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
}
.tada {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
}

/*Responsive Navbar by http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu*/

#logo{

    margin: 5px;
    margin-left:15px;
    float: left;
    width: 40px;
    height: 50px;
/*    background: url(../img/docket-big-logo-white.png) no-repeat center;
*/    background-size: cover;
    display: block;

}

.logo-large{
    margin: 0 auto;
    width: 200px;
    height: 60px;
    background: url(../img/docket-big.png) no-repeat center;
    background-size: cover;
    display: block;

}

nav {

    float: right;
    padding: 5px;

    
}

#menu-icon {

    display: hidden;
    border-radius: 0 0 0 0 ;
    width: 40px;
    height: 40px;
    background: black url(../img/menu-icon.png) center;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;

}

a:hover#menu-icon {

    background-color: #ffb818;
    border-radius: 0 0 0 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;

}

ul {

    list-style: none;


}

li {

    display: inline-block;
    float: left;
    padding: 10px

}
li:hover{
    color: #ffb818;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.current {

/*    color: #ffb818;
*/
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
    li:hover{
        background-color: #ffb818;
        color: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .pool-image{

        height:330px;
        width:400px;
        margin-left:-35px;
        margin-bottom:-50px;

    }

    .balloon-image{
/*        margin-left:-35px;
*/        height:450px;
        width:350px;
    }

    .party-image{
        margin-top:5%;
        height:250px;
        width:300px;
    }

    .logo-large{
        margin-bottom:-8%;
    }
    h3{
        font-size: 5vmin;
    }

    header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;

    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
/*        padding: 20px;*/        
        background: #fff;
        border: 5px solid #444;
        right: 5px;
        top: 45px;
        width: 50%;
        border-radius: 4px 0px 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }
}