*{
	font-family: Helvetica;
	color: black;
}

h1{
	font-size: 9vw;
}
h4{
    font-size: 3vw;
}

a{
	color:black;
	/*opacity: 0.9;*/
	text-decoration: none;
	font-size: 1em;
}
a:hover{
	color:black;
	opacity: 1;
	text-decoration: underline;
}


.placeholder-square{
    border: 5px solid black;
    border-radius: 5px;

    position: relative;
    width: 75%;
    padding-bottom: 50%;
    overflow: hidden;
}